.sectionBar{
	background: #5fda64;
	margin-bottom: 0;
}

.sectionBar > p {
	color: yellow;
}

.resetButton{
	
	margin-top: 20px;
}

.formCont{
	display: inline-flex;
}

#theOr{
	margin: 0;
	padding-right: 20px;
	padding-left: 20px;
}

input{
	margin-left:5px;
}

#header{
	margin-top: 0;
}

#weather > p{
	margin-top: 10px;
}