.app{
	background: #aef7de;
}

.navBar{
  background: #5fda64;
}

.navBarHeader{
margin-top: 0;
}

div{
	text-align: center;
}


.navBarLinksList > a {
display: inline;
padding: 10px;
}

.linksCont > a{
	color: blue;
}

.linksCont{
	display: inline-flex;
	padding-right: 2%;
}

.clockLink{
	margin-right: 10%
}

.weatherLink{
	margin-left: 5%;
	margin-right: 5%; 
}

.newsLink{
	margin-left: 10%;
}

.navBar{
	z-index: 2;
	position: fixed;
	width: 100%;
	margin-top: -13px;
}


main{
	padding-top: 45px;
}

.footer{
	background: #5fda64;
}

.footer >h4{
	padding: 1%;
	margin-bottom: 0;
	margin-top: 0;
}