.sectionBar{
	background: #5fda64;
}

.sectionBar > p {
	color: #5fda64;
}

button{
	margin-top: 1%;
	margin-bottom: 3%;
}

td > a{
	color:blue;
}

td{
	padding:15px;
}

.middleColumn{
	text-align: center;
	padding-right: 9%;
	padding-left: 2%
}

table{
	padding-right: 5%;
	padding-left: 2%;
}